// міксіни
// @use "sass:math" as *;
// @use "sass:list" as *;
@import "./nullstyle.scss";


// @function rem($px) {
// 	$result: calc($px / 16) + rem;
// 	@return $result;
//   }

// $maxWidth: 1440;
// $mobWidth: 320;

// @function vw($value) {
//   $vwValue: calc(#{$value} / #{$maxWidth} * 100vw);
//   @return $vwValue;
// }

.header__logo-p {
	font-family: 'Montserrat', sans-serif;
	font-size: 21px;
	font-weight: 800;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
	// font-size: clamp(rem(22), vw(40), rem(40));
}

.header__logo-span {
	font-family: 'Montserrat', sans-serif;
	font-size: 21px;
	font-weight: 800;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	background-image: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	margin-left: 5px;
}

.header__icons-img {
	width: 20px;
	height: 20px;
	color: #000;
}

// yfd

.header__icons-block-ul {
	display: flex;
	height: 75px;
	position: relative;
}

.header__icons-block {
	display: flex;
	// position: absolute;
	// top: 0;
	// right: 0;
	align-items: center;
	height: 100%;
}

.header__icons-item {
	padding: 0 25px;
	border-left: 1px solid #EFEFEF;
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
}

.header__icons-item:hover {
	padding: 0 25px;
	border-left: 1px solid #EFEFEF;
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 2px;
		background: #60B021;
		width: 100%;
	}
}

.hover-exp:hover {
	height: 100%;
	border-bottom: 2px solid #60B021;
}

.container-header {
	width: 1080px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	height: 100%;
	padding: 0 15px;
}

.header__menu {
	display: flex;
	align-items: center;
	// margin-left: 200px;
	height: 75px;
}

.header__list-adaptiv {
	display: none;
}


/* Бургер меню */

.container{
	max-width: 80%;
	margin: 0 auto;
	padding: 0px 15px;
}
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 11%;
	height: 75px;
	background: #ffff;
	box-shadow: 0px 2px 6px 0px #00000026;
}

.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: center;
	width: 100%;
}

.header__logo {
	flex: 0 0 60px;
	display: block;
	position: relative;
	z-index: 5;
}

.header__logo-img {
	max-width: 100%;
}

.header__list{
	display: flex;
	position: relative;
	z-index: 3;
	height: 100%;
	align-items: center;
}

.header__list2 {
	display: none;
}

// .header__list3 {
// 	display: none;
// }

.header__list-li {
	list-style: none;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0px 0px 0px 20px;
	display: flex;
	align-items: center;
	height: 100%;
	// padding-left: 20px;
	&:hover {
		// background: #F5F5F5;
		color: #60B021;
	}
	&:first-child {
		margin: 0px;
	}
}

.header__list-a {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
	color: #000;
	display: flex;
	align-items: center;
	height: 100%;
	position: relative;
}

.header__list-a:hover {
	list-style: none;
	color: #60B021;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 2px;
		background-color: #60B021;
		width: 100%;
	}
	// background-image: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
	// -webkit-background-clip: text;
  	// -webkit-text-fill-color: transparent;
}

.header__burger {
	display: none;
}

.header__burger.active::before {
	transform: rotate(45deg);
	top: 9px;
}

.header__burger.active::after {
	transform: rotate(-45deg);
	bottom: 9px;
}

.header__burger-span.active {
	transform: scale(0);
}

@media (max-width:1025px) {
	body.lock {
		overflow: hidden;
	}
	.header__body {
		height: 50px;
		display: flex;
		// flex-direction: row-reverse;
		justify-content: space-between;
	}
	.header__logo {
		flex: 0 0 40px;
		margin-left: -35%;
		order: 2;
	}
	.header__burger {
		display: block;
		position: relative;
		height: 20px;
		width: 30px;
		z-index: 3;
		order: 1;
	}
	.header__burger-span {
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
		transition: all 0.3s ease 0s;
	}

	.header__burger:before, .header__burger:after {
		content: '';
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before {
		top: 0px;
	}
	.header__burger:after {
		bottom: 0px;
	}
	.header__menu {
		// position: fixed;
		// top: -100%;
		// left: 0;
		// width: 440px;
		// height: 390px;
		// background-color: #3a9fb1;
		// padding: 70px 10px 20px 10px;
		// transition: all 0.3s ease 0s;
		// overflow: auto;
		// z-index: 55;
		display: none;
	}
	.header__menu.active {
		position: fixed;
		// width: 510px;
		height: 456px;
		background-color: #fff;
		// padding: 20px 20px 0 20px;
		// overflow: auto;
		z-index: 55;
		top: 60px;
		// left: -53px;
		display: flex;
		// justify-content: space-around;
		// transition: all 0.5s ease 1s;
		box-shadow: 0px 2px 6px 0px #00000026;
	}
	.header__list {
		border-right: 1px solid #E3E3E3;
		padding-right: 25px;
		// width: 255px;
		display: none;
	}
	.header__list-adaptiv{
		min-width: 255px;
		display: flex;
		flex-direction: column;
		height: 100%;
		position: relative;
		z-index: 3;

	}
	.header__list-adaptiv ul li ul {
		display: none;
		position: absolute;
		top: 0;
		left: 100%;
		width: 255px;
		border-right: 1px solid #E3E3E3;
		height: 100%;
		background: #fff;
		box-shadow: 0px 2px 6px 0px #00000026;
		z-index: 1;
	}
	.header__list-adaptiv ul li:hover > ul {
		display: block;	
	}
	.header__list2 {
		display: flex;
		flex-direction: column;
		width: 255px;
		height: 100%;
		display: none;
	}
	// .header__list3 {
	// 	// display: flex;
	// 	flex-direction: column;
	// 	width: 255px;
	// 	height: 100%;
	// 	display: none;
	// }
	.header__list-li {
		font-family: 'Ubuntu', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0em;
		text-align: left;
		margin: 0px 0px 20px 0px;
	}
	.header__list-ad {
		font-family: 'Ubuntu', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0em;
		text-align: left;
		color: #000;
		padding-left: 35px;
		margin-bottom: 20px;
		&:hover {
			color: #60B021;
		}
	}
	.header__list-li-ad {
		margin: 5px 0;
		padding: 5px 0;
		&:first-child {
			margin-top: 20px;
		}
		&:hover {
			background: #F5F5F5;
			color: #60B021;
		}
	}
	.header__list-first {
		font-weight: 700;
		font-size: 18px;
	}
	.header__list-gray {
		color: #75758A;
	}
	.header__list-last {
		color: #60B021;
		text-decoration: underline;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			height: 2px;
			color: #000;
			width: 100%;
			top: 0;
			right: 0;
			transform: rotate(45deg);
		}
		&::after {
			content: '';
			position: absolute;
			height: 2px;
			color: #000;
			width: 100%;
			top: 0;
			right: 0;
			transform: rotate(-45deg);
		}
	}
	.header__icons-block {
		order: 3;
	}
}

/* кінець бургера */

.main {
	margin-top: 75px;
}
.banner__header {
	background: url('/src/assets/header.png') 0 0/cover no-repeat;
	height: 650px;
	position: relative;
}

.baner {
	position: relative;
}

.title-first__span {
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 700;
	line-height: 61px;
	letter-spacing: 0em;
	text-align: left;
	background-image: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	margin-right: 5px;
	font-size: clamp(rem(18), vw(60), rem(60));
}

.title-first__p {
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 700;
	line-height: 61px;
	letter-spacing: 0em;
	text-align: left;
}

.baner__title {
	display: flex;
	margin-bottom: 60px;
	flex-direction: column;
	position: absolute;
	bottom: 20px;
}

.baner__title-first,
.baner__title-second,
.baner__title-third {
	background-color: #ffff;
	padding: 10px;
	box-shadow: 0px 2px 6px 0px #00000026;
	position: relative;
}

.baner__title-first {
	max-width: 264px;
	z-index: 3;
}

.baner__title-second {
	max-width: 178px;
	z-index: 2;
}

.baner__title-third {
	max-width: 297px;
	z-index: 1;
}

.banner__features {
	background: #F5F5F5;
}

.banner__features-block {
	display: flex;
	justify-content: space-between;
}

.features-block__item {
	padding: 40px 0px;
	display: flex;
	align-items: center;
}

.features-block__item-imm {
	margin-right: 10px;
}

.features-block__item-p {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	margin-right: 30px;
}

.pricing {
	margin-top: 70px;
	padding-bottom: 40px;
}

.pricing__title {
	text-align: center;
}

.pricing__title-h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	color: #60B021;
	text-transform: uppercase;
}

.pricing__title-span {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	color: #000000;
	text-transform: uppercase;
}

.pricing__slider {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.pricing__item {
	border: 1px solid #EFEFEF;
	width: 350px;
}

.pricing__item-top {
	position: relative;
}

.item-top__photo {
	display: flex;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 40px;
}

.item-top__text {
	text-align: center;
}

.item-top__firstname-p {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: center;
}

.item-top__secondname-p {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: center;
	color: #75758A;
}

.pricing__item-middle {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	border: 1px solid #EFEFEF;
}

.item-middle__price {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 88px;
	border-right: 1px solid #EFEFEF;
	// padding: 18px 18px 0 18px;
	&:first-child {
		border-left: none;
	}
	&:last-child {
		border-right: none;
	}
}

.item-middle__price-p {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
}

.item-middle__price-day {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
}

.pricing__item-bot {
	display: flex;
	justify-content: space-around;
	padding-top: 15px;
	padding-bottom: 15px;
}

.item-bot__info-button {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
	box-shadow: 0px 2px 6px 0px #00000026;
	padding-top: 15px;
	padding-bottom: 15px;
	background: #FFFFFF;
	border-radius: 35px;
	width: 140px;
	&:hover {
		background: #75758A;
		color: #fff;
		box-shadow: 0px 2px 6px 0px #00000026;
	}
}

.item-bot__bag-button {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
	box-shadow: 0px 2px 6px 0px #00000026;
	padding-top: 15px;
	padding-bottom: 15px;
	background: linear-gradient(180deg, #8EE902 0%, #4F9C2C 100%);
	border-radius: 35px;
	color: #ffff;
	width: 140px;
	padding-left: 17px;
	&:hover {
		background: #4F9C2C;
	}
}

.item-bot__bag {
	position: relative;
}

.item-bot__bag-imm {
	position: absolute;
	top: 15px;
	left: 20px;
}

.item-top__compare-img {
	width: 24px;
	margin-bottom: 20px;
}

.item-top__icons {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: absolute;
	top: 20px;
	right: 25px;
}

/* початок слайдера */

.image-slider {
	padding: 30px 0 70px 0;
	overflow: hidden;
	position: relative;
}

.image-slider__image {
	text-align: center;
}

.image-slider__image img {
	max-width: 100%;
}

.image-slider .swiper-button-prev::after{
	color: #000;
	font-size: small;
}

.image-slider .swiper-button-next::after {
	color: #000;
	font-size: small;
}

.image-slider .swiper-pagination{
	padding-bottom: 20px;
}

.image-slider .swiper-pagination-bullet {
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	background-color:rgb(100, 97, 97);
}

.swiper-button-prev,
.swiper-button-next {
	box-shadow: 0px 2px 6px 0px #00000026;
	height: 40px;
	width: 40px;
}

.swiper-button-prev {
	position: absolute;
	top: 195px;
	left: 1px;
}

.swiper-button-next {
	position: absolute;
	top: 195px;
	right: 1px;
}

.image-slider__wrapper {
	position: relative;
}


/* кінець слайдера */


.main-title__block {
	width: 570px;
	margin: 0 auto;
	font-family: 'Ubuntu', sans-serif;
}

.main-title__top {
	text-align: center;
	text-transform: uppercase;
}

.main-title__top-span {
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
}

.main-title__top-p {
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	color: #60B021;
}

.main-title__middle {
	margin-top: 20px;
}

.main-title__middle-span {
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: center;
	color: #75758A;
}

.main-title__middle-p {
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: center;
	color: #000000;
}

.main-title__bot {
	margin-top: 10px;
}

.main-title__bot{
	display: flex;
	justify-content: space-around;
}

.main-title__bot-button1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
	background: linear-gradient(180deg, #8EE902 0%, #4F9C2C 100%);
	padding: 20px 40px;
	color: #ffff;
	border-radius: 40px;
	text-transform: uppercase;
	box-shadow: 0px 2px 6px 0px #00000026;
	&:hover {
		background: #4F9C2C;
	}
}

.main-title__bot-button2 {
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
	background: #fff;
	padding: 20px 40px;
	color: #000;
	border-radius: 40px;
	text-transform: uppercase;
	box-shadow: 0px 2px 6px 0px #00000026;
	font-family: 'Ubuntu', sans-serif;
	&:hover {
		background: #75758A;
		color: #fff;
		box-shadow: 0px 2px 6px 0px #00000026;
	}
}

.categories {
	margin-top: 40px;
	padding-bottom: 60px;
}


.categories-block__top,
.categories-block__bot {
	display: flex;
	justify-content: space-between;
}

.categories-block__bot {
	margin-top: 25px;
}

.categories-block__item1,
.categories-block__item2,
.categories-block__item3,
.categories-block__item5 {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 32%;
	height: 350px;
	padding: 0 0 20px 20px;
}

.categories-block__item1 {
	background: url('/src/assets/category.png') 0 0/cover no-repeat;
}

.categories-block__item2 {
	background: url('/src/assets/photo\ \(1\).png') 0 0/cover no-repeat;
}

.categories-block__item3 {
	background: url('/src/assets/photo\ \(2\).png') 0 0/cover no-repeat;
}

.categories-block__item4 {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0 0 20px 20px;
	width: 66%;
	height: 350px;
	background: url('/src/assets/photo\ \(3\).png') 0 0/cover no-repeat;
}

.categories-block__item5 {
	background: url('/src/assets/photo\ \(4\).png') 0 0/cover no-repeat;
}

.categories-item__block {
	background: #fff;
	box-shadow: 0px 2px 6px 0px #00000026;
	display: inline-block;
}

.categories-item__block-1 {
	position: relative;
	z-index: 3;
	max-width: 177px;
}

.categories-item__block-2 {
	max-width: 157px;
}

.categories-item__block-3 {
	position: relative;
	z-index: 3;
	max-width: 178px;
}

.categories-item__block-4 {
	max-width: 182px;
}

.categories-item__block-5 {
	position: relative;
	z-index: 3;
	max-width: 124px;
}

.categories-item__block-6 {
	max-width: 203px;
}

.categories-item__block-7 {
	position: relative;
	z-index: 3;
	max-width: 181px;
}

.categories-item__block-8 {
	max-width: 136px;
}

.categories-item__block-9 {
	position: relative;
	z-index: 3;
	max-width: 181px;
}

.categories-item__block-10 {
	max-width: 147px;
}


.categories-item__block-p {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 42px;
	letter-spacing: 0em;
	text-align: left;
	padding-left: 10px;
}

.cooperation {
	background: #F5F5F5;
	padding-top: 80px;
	padding-bottom: 100px;
}

.cooperation__block {
	text-align: center;

}

.cooperation__block-span {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	text-transform: uppercase;
	color: #60B021;
	margin-right: 6px;
}

.cooperation__block-p{
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	text-transform: uppercase;
}

.cooperation__block-text {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: center;
	color: #75758A;
	max-width: 470px;
	margin: 15px auto;
}

.cooperation__blocks {
	display: flex;
	justify-content: space-between;
}

.cooperation__item {
	box-shadow: 0px 2px 6px 0px #00000026;
	background: #fff;
	width: 23%;
	height: 155px;
	display: flex;
	justify-content: space-around;
}

.cooperation__item-p {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	padding-top: 15px;
	width: 152px;
}

.cooperation__item-photo {
	display: flex;
	align-items: flex-end;
	padding-bottom: 15px;
}

.cooperation__button {
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
	background: linear-gradient(180deg, #8EE902 0%, #4F9C2C 100%);
	padding: 20px 40px;
	color: #ffff;
	border-radius: 40px;
	text-transform: uppercase;
	box-shadow: 0px 2px 6px 0px #00000026;
	font-family: 'Ubuntu', sans-serif;
	&:hover {
		background: #4F9C2C;
	}
}

.cooperation__button-block {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.news {
	margin-top: 70px;
	padding-bottom: 70px;
}

.news__title {
	text-align: center;
}

.news__items {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.news__item-block {
	width: 32%;
	border: 1px solid #EFEFEF;
}

.news__item-img {
	width: 100%;
}

.news__item-top {
	padding: 20px 0 20px 20px;
}

.news__item-p {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: #75758A;
}

.news__item-h4 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color:#000000;
}

.news__item-span {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	color: #75758A;
	margin-top: 10px;
	display: block;
}

.news__item-reverce {
	display: flex;
	flex-direction: column-reverse;
}

.news__item-button {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.news__button {
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
	background: linear-gradient(180deg, #8EE902 0%, #4F9C2C 100%);
	padding: 20px 70px;
	color: #ffff;
	border-radius: 40px;
	text-transform: uppercase;
	box-shadow: 0px 2px 6px 0px #00000026;
	font-family: 'Ubuntu', sans-serif;
	&:hover {
		background: #4F9C2C;
	}
}

.map {
	background: url('/src/assets/for\ map.png') 0 0/cover no-repeat;
	height: 350px;
	// display: flex;
	// align-items: center;
}

.map__items {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 10%;
}

.map__item {
	width: 23%;
	box-shadow: 0px 2px 6px 0px #00000026;
	padding: 20px 0 20px 20px;
	height: 140px;
	background: #fff;
}

.map__item_p {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
}

.map__item-span {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	color: #75758A;
	display: block;
	margin: 15px 0 15px 0;
}

.map__item-a {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	color: #60B021;
	text-decoration: underline;
}

.subscribe {
	background: #515668;
}

.subscribe__items {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
}

.subscribe__mail-block {
	display: flex;
	align-items: center;
}

.subscribe__call-block {
	display: flex;
	padding-right: 70px;
	align-items: center;
}

.subscribe__img {
	width: 20px;
	height: 15px;
	// margin-right: 10px;
	display: block;
}

.subscribe__img-border {
	border: 1px solid #8EE901;
	border-radius: 50%;
	padding: 10px;
	background: transparent;
	margin-right: 10px;
}

.subscribe__call-img {
	width: 20px;
	height: 20px;
}

.subscribe__mail-p {
	margin-left: 10px;
}

.subscribe__mail-pp {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: #8EE901;
}

.subscribe__mail-span {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
}

.subscribe__field-block {
	display: flex;
	align-items: center;
}

.subscribe__field-input {
	padding: 10px 80px 10px 10px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
}

.subscribe__button {
	padding: 12px 20px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
	text-transform: uppercase;
	background: #60B021;
	color: #fff;
	&:hover {
		background: #4F9C2C;
	}
}

.subscribe__mail-p {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
	color: #8EE901;
}

.footer {
	background: #f5f5f5;
}

.footer__block {
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
}

.footer__social-block {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-top: 15px;
}

.footer__social-img {
	width: 45px;
	height: 45px;
}

.footer__item {
	width: 100px;
	&:first-child {
		width: 95px;
	}
	&:nth-child(4) {
		width: 150px;
	}
	&:last-child {
		width: 160px;
	}
}

.footer__item-p,
.footer__item-pp,
.footer__item-span {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
}

.footer__item-p {
	padding-top: 10px;
}

.footer__item-pp {
	padding-bottom: 10px;
}

.footer__item-span {
	color: #75758A;
}

.footer__item-a {
	display: block;
}

.footer__item-h3 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
}

.footer__item-a {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	color: #75758A;
	margin: 7px 0px;
}

.footer__payments-block {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 50px;
	align-items: center;
}

.footer__visa-img,
.footer__visa-paypal {
	height: 50px;
}

.footer__visa-mastercard {
	height: 30px;
}

.footer__paypal,
.footer__visa-mastercard {
	margin-left: 20px;
}

@media (max-width: 1251px) {
	.header {
		padding-left: 11.5%;
	}
	.item-top__icons {
		position: absolute;
		top: 7%;
		right: 5%;
	}
	.subscribe__field-input {
		padding: 10px 45px 10px 10px;
	}

}

@media (max-width: 1025px) {
	.banner__features {
		background: #fff;
	}
	.banner__header {
		height: 565px;
	}
	.features-block__item {
		background: #F5F5F5;
		width: 30%;
		margin: 25px 25px 25px 0;
	}
	.banner__features-block {
		flex-wrap: wrap;
		justify-content: flex-start;
	}
}
