@import "./nullstyle.scss";

.header__logo-p {
	font-family: 'Montserrat', sans-serif;
	font-size: 21px;
	font-weight: 800;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
}

.header__logo-span {
	font-family: 'Montserrat', sans-serif;
	font-size: 21px;
	font-weight: 800;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	background-image: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	margin-left: 5px;
}

.header__icons-img {
	width: 20px;
	height: 20px;
	color: #000;
}

.header__icons-block {
	display: flex;
	// position: absolute;
	// top: 0;
	// right: 0;
	align-items: center;
	height: 100%;
}

.header__icons-item {
	padding: 0 20px;
	border-left: 1px solid #EFEFEF;
	height: 100%;
	display: flex;
	align-items: center;
	&:hover {
		border-bottom: 2px solid #60B021;
	}
}

.hover-exp:hover {
	height: 100%;
	border-bottom: 2px solid #60B021;
}

.container-header {
	width: 1080px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	height: 100%;
	padding: 0 15px;
}

.header__menu {
	display: flex;
	align-items: center;
	margin-left: 200px;
	height: 100%;
}


/* Бургер меню */

.container{
	width: 1080px;
	margin: 0 auto;
	padding: 0px 15px;
}
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 75px;
}

.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: center;
}

.header__logo {
	flex: 0 0 60px;
	display: block;
	position: relative;
	z-index: 5;
}

.header__logo-img {
	max-width: 100%;
}

.header__list{
	display: flex;
	position: relative;
	z-index: 3;
	height: 100%;
	align-items: center;
}

.header__list-li {
	list-style: none;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0px 0px 0px 20px;
	display: flex;
	align-items: center;
	height: 100%;
	&:first-child {
		margin: 0px;
	}
}

.header__list-a {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
	color: #000;
	display: flex;
	align-items: center;
	height: 100%;
}

.header__list-a:hover {
	list-style: none;
	color: #60B021;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
	border-bottom: 2px solid;
	// background-image: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
	// -webkit-background-clip: text;
  	// -webkit-text-fill-color: transparent;
}

.header__burger {
	display: none;
}

.header__burger.active::before {
	transform: rotate(45deg);
	top: 9px;
}

.header__burger.active::after {
	transform: rotate(-45deg);
	bottom: 10px;
}

.header__burger-span.active {
	transform: scale(0);
}

@media (max-width:768px) {
	body.lock {
		overflow: hidden;
	}
	.header__body {
		height: 50px;
	}
	.header__logo {
		flex: 0 0 40px;
	}
	.header__burger {
		display: block;
		position: relative;
		height: 20px;
		width: 30px;
		z-index: 3;
	}
	.header__burger-span {
		background-color: #ffffff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before, .header__burger:after {
		content: '';
		background-color: #ffffff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before {
		top: 0px;
	}
	.header__burger:after {
		bottom: 0px;
	}
	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #3a9fb1;
		padding: 70px 10px 20px 10px;
		transition: all 0.3s ease 0s;
		overflow: auto;
	}
	.header__menu.active {
		top: 0;
	}
	.header__list {
		display: block;
	}
	.header__list-li {
		margin: 0px 0px 20px 0px;
	}
}

/* кінець бургера */

.main {
	margin-top: 75px;
}
.banner__header {
	background: url('/src/assets/header.png') 0 0/cover no-repeat;
	max-width: 100%;
	height: 650px;
}

